.chat-layout {
    width: 880px;
    border-right: 1px solid #eee;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-top-card {
    width: 100%;
    background: #fff;
    padding: 12px 18px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 18px;
    position: sticky;
}

.chat-user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e6e6e6;
}

.chat-user-text {
    display: flex;
    flex-direction: column;
}

.chat-username {
    font-weight: 600;
    font-size: 15px;
}



.chat-center-text p {
    font-size: 20px;
    
    color: #777;
}

.chat-sidebar {
    width: 680px;
    height: 100vh;
    border-right: 1px solid #eee;
    padding: 14px;
    background: #a9b81285;
    scrollbar-width: none;
       
    -ms-overflow-style: none;
    
}
.chat-sidebar::-webkit-scrollbar {
width: 0px;
    background: transparent;
}

.chat-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #555;
}

.chat-user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.chat-user:hover {
    background: #f6f6f6;
}

.chat-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-name {
    font-size: 14px;
    font-weight: 500;
}

/*--------------------------------------------chat_page--------------*/
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1527482797697-8795b05a13fe') no-repeat center center;
        background-size: cover;
}


.chat-header {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.chat-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-header-name {
    font-weight: 600;
    color:#4f46e5
}


.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}


.chat-body::-webkit-scrollbar {
    display: none;
}


.chat-profile-preview {
    text-align: center;
    margin-top: -10px;
}

.chat-preview-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.view-profile-btn {
    background: #f1f1f1;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
}


.chat-time {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 30px 0;
}


.chat-message {
    max-width: 60%;
    padding: 8px 14px;
    border-radius: 18px;
    margin-bottom: 8px;
    font-size: 14px;
}

.chat-message.sent {
    background: #4f46e5;
    color: white;
    margin-left: auto;
}


.chat-input-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eee;
}

.chat-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background: #f6f6f6;
}

.chat-icons i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
.close-link {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

