* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9da8cc, #9c6894);
}


.page-wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.login-card {
    width: 350px;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 210px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.brand-name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #262626;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form input {
    width: 100%;
    padding: 10px 8px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
    border-color: #a0a0ff;
    background: #ffffff;
}

.login-btn {
    margin-top: 10px;
    padding: 9px 0;
    border: none;
    border-radius: 4px;
    background: #6a5dfc;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.bottom-card {
    width: 350px;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 18px;
    text-align: center;
    font-size: 14px;
    color: #262626;
}

.bottom-card a {
    color: #0095f6;
    font-weight: 500;
    text-decoration: none;
    margin-left: 4px;
}

.bottom-card a:hover {
    text-decoration: underline;
}
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.phone-stack {
    position: relative;
    width: 260px;
    height: calc(260px * 16 / 9);
}


.phone-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 18px 40px rgba(226, 223, 223, 0);
    background: #f8f6f6;
}


.phone-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img1 {
    transform: rotate(-10deg);
    top: 18px;
    left: -30px;
    z-index: 1;
}

.img2 {
    transform: rotate(0deg);
    top: 0;
    left: 0;
    z-index: 3;
}

.img3 {
    transform: rotate(10deg);
    top: 25px;
    left: 35px;
    z-index: 2;
}
@media (max-width: 900px) {
    .page-wrapper {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .right-side {
        order: 2;
    }

    .left-side {
        order: 1;
    }
}

/* 
.phone-img:hover {
    transform: scale(1.04) rotate(-10deg);
    box-shadow: 0 22px 50px rgba(172, 37, 37, 0.35);
    z-index: 1;
} */