.profile-header {
    display: flex;
    padding: 30px;
}

.profile-photo {

        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border-top-left-radius: 6px;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 6px;
    
}

.profile-right {
    margin-left: 40px;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 24px;
    font-weight: 600;
}

.follow-btn::before {
    padding: 8px 18px;
    background: #0095f6;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    
    background: #efefef;
    color: #262626;
    border: 1px solid #dbdbdb;
  transition: all 0.2s ease;
}

.follow-btn.following {
    background: #efefef;
    color: #262626;
    border: 1px solid #dbdbdb;
}

.follow-btn {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background: #0095f6;
    color: white;
}

.follow-btn.following {
    background: #efefef;
    color: #000;
}

.follow-btn.follow-back {
    background: #0095f6;
    color: #fff;
}

.profile-stats {
    display: flex;
    gap: 20px;
    margin: 15px 0;
}

.profile-stats li {
    list-style: none;
    font-size: 15px;
}

.profile-stats span {
    font-weight: 600;
}

.user-bio {
    font-size: 14px;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
        max-width: 935px;
        margin: 16px auto;
}

.posts-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.follow-btn {
    padding: 7px 16px;
    border-radius: 8px;
    border: none;
    background: #0095f6;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.follow-btn.following {
    background: #efefef;
    color: #000;
}


/*----cmmet*/
/* OVERLAY */
.view-post-overlay {
    position: fixed;
    inset: 0;
    background: rgba(235, 231, 231, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* MAIN BOX */
.view-post-box {
    width: 90%;
    max-width: 1100px;
    height: 85vh;
    background: #000;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

/* LEFT IMAGE */
.view-post-left {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-post-left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* RIGHT PANEL */
.view-post-right {
    flex: 0.8;
    background: #fff;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.view-post-header {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.view-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-user-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.close-popup {
    font-size: 22px;
    cursor: pointer;
}

/* COMMENTS */
.view-comments {
    flex: 1;
    padding: 12px 16px;
    overflow-y: auto;
}

/* ACTIONS */
.view-actions {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
}

/* ADD COMMENT */
.view-add-comment {
    padding: 10px 16px;
    display: flex;
    gap: 10px;
}

.view-add-comment input {
    flex: 1;
    border: none;
    outline: none;
}

.view-add-comment button {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}
