<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>

    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <section class="home">
        <div class="home-container">
            {% block content %}
            <!-- Page-specific content will go here -->
            {% endblock %}
        </div>
    </section>

   

    <script src="{% static 'js/sidebar.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
