{% extends 'base.html' %}
{% load static %}
{% block title %}Chats Page{% endblock %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chats.css' %}">
{% endblock %}

<div class="chat-layout">
    <div class="chat-container">
        <a href="{% url 'home' %}" class="close-link">
      <i class='bx bx-x ac-close'></i>
    </a>
             
        <!-- TOP BAR -->
        <div class="chat-header">
          <img src="/static/images/default-user.webp" class="chat-header-avatar">
          <span class="chat-header-name">jk</span>
        </div>

        <!-- CHAT BODY -->
        <div class="chat-body">

          <!-- Profile Preview -->
          <div class="chat-profile-preview">
              <a href="{% url 'chats' %}" class="close-link">
      <i class='bx bx-x ac-close'></i>
    </a>
            <img src="/static/images/default-user.webp" class="chat-preview-avatar">
            <h3>jk</h3>
            <button class="view-profile-btn">View profile</button>
          </div>

         

        </div>

        <!-- INPUT BAR -->
        <div class="chat-input-bar">
          <input type="text" placeholder="Message..." class="chat-input">

          <div class="chat-icons">
            <i class="bx bx-smile"></i>
            
            <i class="bx bx-image"></i>
            <i class="bx bx-send"></i>
          </div>
        </div>
    </div>

</div>


{% endblock %}

