{% extends 'base.html' %}
{% load static %}
{% block title %}Chats{% endblock %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chats.css' %}">
{% endblock %}

<div class="chat-layout">
    <div class="chat-top-card">
      <div class="chat-user-info">
        <img src="{{ profile.image|default:'/static/images/default-user.png' }}" class="chat-user-img">

        <div class="chat-user-text">
          <span class="chat-username">{{ username }}</span>
        
        </div>
      </div>

      <div class="chat-center-text">
        <p>All chats are shown here</p>
      </div>
    </div>

    <div class="chat-sidebar">

      <h3 class="chat-title">Suggested Users</h3>
      
      {% for s in suser %}
      <div class="chat-user">
        {% if s.image %}
              <img src="{{ s.image }}" class="chat-avatar" />
              {% else %}
              <img
                src="{% static 'images/default-user.webp' %}"
                class="chat-avatar"
              />
              {% endif %}
      
        <span class="chat-name">{{ s.username }}</span>
      </div>
      {% endfor %}

      

    </div>

    <div class="chat-container">

        <!-- TOP BAR -->
        <div class="chat-header">
          <img src="/static/images/default-user.webp" class="chat-header-avatar">
          <span class="chat-header-name">jk</span>
        </div>

        <!-- CHAT BODY -->
        <div class="chat-body">

          <!-- Profile Preview -->
          <div class="chat-profile-preview">
            <img src="/static/images/default-user.webp" class="chat-preview-avatar">
            <h3>jk</h3>
            <button class="view-profile-btn">View profile</button>
          </div>

          <!-- Time -->
          <div class="chat-time">10:12 PM</div>

          <!-- Sent Messages -->
          <div class="chat-message sent">aa</div>
          <div class="chat-message sent">as</div>

        </div>

        <!-- INPUT BAR -->
        <div class="chat-input-bar">
          <input type="text" placeholder="Message..." class="chat-input">

          <div class="chat-icons">
            <i class="bx bx-smile"></i>
            <i class="bx bx-microphone"></i>
            <i class="bx bx-image"></i>
            <i class="bx bx-send"></i>
          </div>
        </div>
    </div>

</div>


{% endblock %}
