{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'css/forgot_pwd.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

<!-- CLOSE ICON -->
<a href="{% url 'change_pass' %}" class="close-page">
    <i class='bx bx-x'></i>
</a>

<!-- TOP PROFILE CARD -->
<div class="profile-card">
     
    <div class="profile-left" >
        <div class="avatar">
            {% if profile.image %}
          <img src="{{ profile.image }}" class="profile-img">
          {% else %}
          
          <img src="{% static 'images/default-user.png' %}" class="profile-img">
          {% endif %}
        </div>
        

        <div class="profile-info">
            {% for login in  login %}
            <p><i class='bx bx-user'></i> {{ login.username }}</p>
            
            <p><i class='bx bx-phone'></i> {{ login.mobile }}</p>
            {% endfor %}
        </div>
    </div>

</div>

<!-- FORGOT PASSWORD CARD -->
<div class="forgot-card">
    <h2>Forgot Password</h2>
    <p>Verify your account to reset password</p>

    <form class="forgot-form" method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="input-box">
            <i class='bx bx-user'></i>
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <div class="input-box">
            <i class='bx bx-phone'></i>
            <input type="text" name="mobile" placeholder="Mobile number" required>
        </div>

        

        <button type="submit" class="reset-btn">Check User Data</button><div id="passwordPopup" class="password-popup">
    
</div>
    </form>
</div>
{% if messages %}
  {% for message in messages %}
    <div class="error-msg">{{ message }}</div>
  {% endfor %}
{% endif %}

<!--Popup---------------------------------------------------------------------->
<!-- PASSWORD POPUP -->
    <div class="pwd-popup-overlay" id="pwdPopup">
        <div class="pwd-popup-card">

            <i class='bx bx-x pwd-close' onclick="closePwdPopup()"></i>

            <h3>Password Found</h3>
            <p class="pwd-info">This is your account password</p>

            <div class="pwd-box">
                <i class='bx bx-lock-alt'></i>
                <span id="pwdText">{{ password_found }}</span>
            </div>

            <button class="pwd-ok-btn" onclick="closePwdPopup()">OK</button>
        </div>
    </div>



</body>
<script>
    {% if password_found %}
        document.getElementById("pwdPopup").classList.add("active");
    
    alert:error
    {% endif %}

    function closePwdPopup() {
        document.getElementById("pwdPopup").classList.remove("active");
    }
</script>


</html>
