{% extends 'account_center.html' %}
{% load static %}
{% block title %}Personal Detail Edit{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/personal_detail_s.css' %}">
{% endblock %}

{% block content %}
<!-- content.html -->
<div class="ac-content">

  <div class="ac-top-bar">
    <h2>Profiles</h2>
    <a href="{% url 'setting' %}" class="close-link">
      <i class='bx bx-x ac-close'></i>
    </a>
  </div>

  <p class="ac-desc">
    Control your profile <span class="brand-color">identity and</span>
    sync your details across Pixelaura services.
    <span class="brand-color">Add more</span> profiles by connecting
    more <span class="brand-color">Pixelaura accounts.</span>
  </p>

  <div class="profile-card">
    <div class="profile-left">
      <img src="{{ profile.image|default:'/static/images/default-user.png' }}" class="profile-img">
      <div>
        {% for login in datas %}
        <strong>{{ login.username }}</strong>
        {% endfor %}
        <p>Pixelaura</p>
      </div>
    </div>
    <!-- Button -->
<button id="openPopup">
    <i class='bx bx-chevron-right'></i>
</button>

<!-- Popup -->
<div id="popup" class="popup-overlay">
    <div class="popup-box">
       <!-- Close Icon -->
        <i class='bx bx-x close-icon' id="closePopup"></i>

        <!-- Profile Section -->
        <img src="{{ profile.image|default:'/static/images/default-user.png' }}" class="profile-pic" alt="Profile">
        <h2 class="username">{{ profile.username }}</h2>
          
         <!-- Form Start -->
        <form action="#" method="post">
          {% csrf_token %}
        
        <div class="form-group">
          
            <label>User Name</label>
            {% for login in datas %}
            <input type="text" placeholder="Enter user name" value="{{ login.username }}">
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Email</label>
            {% for login in datas %}
            <input type="text" placeholder="Enter email" value="{{ login.email }}">
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Phone</label>
            {% for login in datas %}
            <input type="text" placeholder="Enter phone" value="{{ login.mobile }}">
            {% endfor %}
        </div>

        <!-- Close Button -->
        <button  class="submit-btn">Submit</button>
         <!-- Form Start -->
      </form> 
    </div>
</div>

  </div>

  <a href="{% url 'login' %}" class="add-accounts">Add accounts</a>

</div>
{% block extra_js %}
<script src="{% static 'js/personal_detail_s.js' %}"></script>
{% endblock %}

{% endblock %}
