{% extends "account_center.html" %}
{% load static %}
{% block title %}Personal Detail{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/personal_detail_ss.css' %}">
{% endblock %}

{% block content %}
<div class="ac-content">

  <!-- TOP BAR -->
  <div class="ac-top-bar">
    <h2>Personal details</h2>
    <a href="{% url 'setting' %}">
      <i class='bx bx-x ac-close'></i>
    </a>
  </div>

  <!-- DESCRIPTION -->
  <p class="ac-desc">
    Pixelaura uses this information to verify your identity and keep the community safe.
    You decide what personal details you make visible to others.
  </p>

  <!-- DETAILS CARD -->
  <div class="pd-card">

    <div class="pd-item">
      <div>
        <strong>Contact info</strong>
        {% for dt in datas %}
        <p>{{ dt.email }</p>
      </div>
      <i class='bx bx-chevron-right'></i>
    </div>

    <div class="pd-item">
      <div>
        <strong>Birthday</strong>
        {% for dt in datas %}
        <p>{{ dt.birthdate }}</p>
        {% endfor %}
      </div>
      <i class='bx bx-chevron-right'></i>
    </div>
</div>
</div>
{% endblock %}
