<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img class="profile-custom" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz4J1XfiouVQm6mrrz8CyL7qd6YZ7a3WZ6JA&s" alt="logo">
            </span>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class="bx bx-search icon"></i>
                <input type="search" placeholder="Search...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'home' %}">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-plus-circle icon'></i>
                        <span class="text nav-text">Add Post</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'reels' %}">
                        <i class='bx bx-movie-play icon'></i>
                        <span class="text nav-text">Reels</span>
                    </a>
                </li>
                <li class="profile-box">
                    <a href="{% url 'profile' %}">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz4J1XfiouVQm6mrrz8CyL7qd6YZ7a3WZ6JA&s" alt="profile">
                        <span class="text nav-text">My Profile</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Bottom dropdown -->
        <div class="bottom-content">
            <ul class="bottom-list">
                <li class="nav-link dropdown hover-dropdown">
                    <div class="dropdown-toggle">
                        <i class="bx bx-menu icon"></i>
                        <span class="text nav-text">More</span>
                    </div>
                    <div class="dropdown-menu hover-menu">
                        <a href="{% url 'setting' %}"><i class="bx bx-cog"></i> Settings</a>
                        <a href="{% url 'saved' %}"><i class="bx bx-bookmark"></i> Saved</a>
                        <a href="javascript:void(0)" class="switch-appearance">
                            <i class="bx bx-moon appearance-icon"></i>
                            <span class="appearance-text">Dark Mode</span>
                        </a>
                        <div class="divider"></div>
                        <a href="{% url 'login' %}">Switch accounts</a>
                        <a href="" class="danger">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
