{% extends 'base.html' %}
{% load static %}
{% block title %}suggested_profile{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/suggested_profile.css' %}" />{% endblock %}
{% block content %}


<div class="profile-header">

    <div class="profile-left">
        <img src="{{ profile.image|default:'/static/images/xya.png' }}" class="profile-photo">
    </div>

    <div class="profile-right">
        <div class="top-row">
            
            <h2 class="username">{{ user.username }}</h2>
            
           
            <button class="follow-btn" id="followBtn" data-user-id="{{ user.id }}" data-follow-url="{% url 'follow_user' %}">Follow</button>
        </div>

        <ul class="profile-stats">
            <li><span>12</span> posts</li>
            <li><span>850</span> followers</li>
            <li><span>210</span> following</li>
        </ul>

        <div class="user-bio">
           
            <p>{{ profile.bio|default:''}}</p>
            

        </div>
    </div>

</div>

<hr>

<div class="posts-grid">
    {% for post in posts %}
        <div class="post">
            <img src="{{ post.0 }}">
        </div>
    {% empty %}
        <p>No posts yet</p>
    {% endfor %}
</div>


{% endblock %}

{% block extra_js%}
<script src="{% static 'js/suggested_profile.js' %}"></script>
{% endblock %}
