<link rel="stylesheet" href="css/suggested_profile.css" />

<div class="profile-header">

    <div class="profile-left">
        <img src="https://i.pravatar.cc/150?img=11" class="profile-photo">
    </div>

    <div class="profile-right">
        <div class="top-row">
            <h2 class="username">user_one</h2>
            <button class="follow-btn">Follow</button>
        </div>

        <ul class="profile-stats">
            <li><span>12</span> posts</li>
            <li><span>850</span> followers</li>
            <li><span>210</span> following</li>
        </ul>

        <div class="user-bio">
            <span class="name">John Doe</span>
            <p>Photographer | Traveler | Food lover</p>
        </div>
    </div>

</div>

<hr>

<!-- POST GRID -->
<div class="posts-grid">
    <div class="post"><img src="https://picsum.photos/300?1"></div>
    <div class="post"><img src="https://picsum.photos/300?2"></div>
    <div class="post"><img src="https://picsum.photos/300?3"></div>
    <div class="post"><img src="https://picsum.photos/300?4"></div>
</div>